<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="newemp.css">
    <title>Document</title>
</head>
<body>
   <div>
        <form>
            <label for="firstName" class="first-name">First Name</label>
            <input id="firstName" type="text">

            <label for="lastName" class="last-name">Last Name</label>
            <input id="lastName" type="text">
            
            <label for="dept">Department</label>
                    <select name="dept">
                      <option value="01">IT</option>
                      <option value="02">Payroll</option>
                      <option value="03">Admin</option>
                      <option value="99">Other</option>
                    </select>
            <button>Submit</button>
        </form>
        <a href="/employee">Go Back</a>   
   </div>
</body>
</html>
    